body {
    margin: 0px;
}

#heading {
    background-image: url("images/donation6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 50px 200px 50px;
}

#heading h1 {
    font-size: 58px;
    color: white;
    font-family: poppins;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
}

#heading h5 {
    font-size: 16px;
    color: white;
    font-family: poppins;
    font-weight: 400;
    text-align: center;
}

.header-button {
    text-align: center;
    margin-top: 30px;
}

#heading a {
    color: white;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
    text-align: center;
    background-color: rgb(192, 68, 46);
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 3px;
}

.donate-amount {
    text-align: center;
    padding: 70px 0px 70px 0px;
}

.donate-amount h2 {
    font-size: 34px;
    font-family: poppins;
    font-weight: 700;
    color: black;
}

.donate-amount p {
    font-size: 16px;
    color: rgb(129, 118, 118);
    font-weight: 400;
    margin-top: -20px;
}

.tk-amount input {
    font-size: 20px;
    font-family: poppins;
    font-weight: 700;
    color: rgb(87, 77, 77);
    padding: 25px 15px 25px 15px;
    margin-left: 15px;
    border: 0px;
    background-color: rgb(241, 248, 248);
}

.tk-amount input:hover {
    color: rgb(221, 90, 90);
    border: 2px solid rgb(221, 90, 90);
    background-color: rgb(252, 236, 236);
}

.tk-amount #hundred-tk {
    margin-left: 0px;
}

.other-amount {
    margin-top: 50px;
}

.under-line {
    width: 500px;
}

.donate-amount .header button {
    text-align: center;
    margin-top: 30px;
}

.donate-amount .header-button a {
    color: white;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
    text-align: center;
    background-color: rgb(192, 68, 46);
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 3px;
}

.donation-plan {
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.donation-plan h2 {
    font-size: 34px;
    font-family: poppins;
    font-weight: 700;
    color: black;
}

.donation-plan p {
    font-size: 16px;
    color: rgb(129, 118, 118);
    font-weight: 400;
    margin-top: -20px;
}

.spending-field {
    width: 22%;
    float: left;
    padding: 40px 30px 40px 30px;
}

.spending-field h3 {
    font-size: 20px;
    font-family: poppins;
    font-weight: 600;
    color: black;
}

.spending-field p {
    font-size: 16px;
    color: rgb(129, 118, 118);
    font-weight: 400;
}

#food {
    background-color: rgb(224, 229, 245);
    margin-left: 80px;
}

#shelter {
    background-color: rgb(248, 218, 218);
    margin-left: 50px;
}

#education {
    background-color: rgb(248, 232, 212);
    margin-left: 50px;
}

.don-images {
    display: flex;
    padding: 0px 80px 0px 80px;
    margin-top: 450px;
}

.contribute {
    padding: 0px 100px 0px 100px;
    text-align: center;
    display: flex;
}

.contribute-button {
    color: white;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
    text-align: center;
    background-color: rgb(192, 68, 46);
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    margin-top: 20px;
}

.support {
    padding: 0px 50px 0px 0px;
}

.survival {
    padding: 0px 0px 0px 50px;
}

.survival h3 {
    font-size: 24px;
    font-family: poppins;
    font-weight: 600;
    color: black;
}

.don-img-one {
    margin-right: 10px;
}

.don-img-two {
    margin-left: 10px;
}

.support h3 {
    font-size: 24px;
    font-family: poppins;
    font-weight: 600;
    color: black;
}

.survival p {
    font-size: 16px;
    color: rgb(129, 118, 118);
    font-weight: 400;
    padding-bottom: 20px;
    text-align-last: auto;
}

.support p {
    font-size: 16px;
    color: rgb(129, 118, 118);
    font-weight: 400;
    padding-bottom: 20px;
}

.updates {
    text-align: center;
}

.updates h2 {
    font-size: 32px;
    font-family: poppins;
    font-weight: 700;
    color: black;
    margin-top: 100px;
}

.updates p {
    font-size: 16px;
    color: rgb(129, 118, 118);
    font-weight: 400;
    margin-top: -10px;
    text-align-last: auto;
}

.mail-form {
    width: 500px;
    text-align: center;
    background-color: rgb(247, 215, 175);
    padding: 50px 40px 50px 40px;
    margin-left: 380px;
    margin-bottom: 100px;
}

input#email {
    border: 0px;
    background-color: rgb(209, 205, 205);
    padding: 10px 15px 10px 10px;
}

button.mail-button {
    border: 0px;
    padding: 10px 25px 10px 25px;
    background-color: tomato;
    color: aliceblue;
    margin-left: -5px;
}

footer {
    text-align: center;
    background-color: black;
    padding: 2px 0px 20px 0px;
}

footer h2 {
    font-size: 32px;
    font-family: poppins;
    font-weight: 700;
    color: brown;
    margin-top: 50px;
}

footer p {
    font-size: 16px;
    color: aliceblue;
    font-weight: 400;
    margin-top: -10px;
    text-align-last: auto;
}

footer a {
    text-decoration: none;
    color: aliceblue;
}